.side-nav .footer img {
  left: 15px!important;
  top: 10px!important;
  max-width: 230px!important;
  max-height: 62px!important;
}

/*Margin for Buttons*/
.btn-default {
  margin: 0px 0px 10px 10px;
}

/*Margin for Image*/
.img-responsive {
  margin-top: 20px;
  margin-bottom: 20px;
}


/************************
**Styling of Intro Page
*/
.intro-head {
  text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.panel-title {
  margin-bottom: 0px!important;
    text-align: center;
    font-size: 18px;
}

figcaption {
  text-align: center;
  margin-bottom: 15px;
  font-style: italic;
}

/************************
/*Style blockquote >*/
blockquote {
  background-color: bisque;
    margin: 20px;

    padding: 10px;
    text-align: center;
}

/************************
/*Hide ~ ~*/
strike {
  display: none;
}


/*************************
* Styling for Home Pape
**/
.collapse-switch {
  display: none;
}

.inline-image {
  display: block!important;
    margin: 0 auto;
    background-position: center!important;
    box-shadow: none!important;
}

#collapseCitation {
  margin-top: 75px;
}

.well {
  min-height: 60px;
}

/************************
**Reaction Styling
*/
.message .reactions {
  text-align: center;
    margin-top: 0px;
}

.message .reactions>li .reaction-emoji .emojione {
  width: 16px;
  height: 16px;
}


/************************
**Horizontal Panel
*/
.panel.panel-horizontal {
    display:table;
    width:100%;
}
.panel.panel-horizontal > .panel-heading, .panel.panel-horizontal > .panel-body, .panel.panel-horizontal > .panel-footer {
    display:table-cell;
}
.panel.panel-horizontal > .panel-footer {
    width: 10%;
    border:0;
    vertical-align: middle;
}

.panel.panel-horizontal > .panel-heading, {
  width: 4%;
    border:0;
    vertical-align: middle;
}

.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}
.panel.panel-horizontal > .panel-footer {
    border-left: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
}

/*Specials for Vote and Winers*/
.panel-vote {
  margin-bottom: 0px;
}

.winner-color-first {
  color: gold;
}

.winner-color-second {
  color: silver;
}

.winner-color-third {
  color: #CD7F32;
}

.winner-color-else {
  color: black;
}